<!DOCTYPE html>
<html>
  <head>
    <title>UNSC HQ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'frontend' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
