<!DOCTYPE html>
<html>
  <head>
    <title>UNSC HQ</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'frontend' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
